:root {
  --font-size-small: 12px;
  --font-size-medium: 16px;
  --font-size-large: 24px;
  
  color-scheme: light dark;
  color: rgba(65, 64, 64, 0.87);
  background-color: #cdcaca;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.f_flex {
  display: flex;
  place-items: center;
}