.footer {
    display: flex;
    justify-content: space-between;
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 300px;
    z-index: 100;
    color: black;
    align-items: center;
    text-align: left; // Keep text centered

    background-color: #ffffff;

    /* Footer columns */
    .footer_column {
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: center;
        text-align: left;
        width: 23%; /* Adjust width of each column */
        padding: 0 20px;

        @media (max-width: 768px) {
            width: 100%; /* Stack columns on smaller screens */
            margin-bottom: 20px;
        }
    }

    /* Logo section */
    .footer_logo {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        margin-bottom: 20px; // Space between logo and social icons

        .logo {
            width: 100px; /* Adjust logo size */
            height: auto;
        }

        .nav_logo {
            font-size: 1.5rem;
            font-weight: bold;
            color: #63b3ed;
        }
    }

    /* Social icons: Horizontal layout */
    .social_icons {
        display: flex; /* Align icons in a row */
        justify-content: center; /* Center the icons */
        gap: 15px; /* Add space between icons */
        margin-top: 10px;
    }

    .social_icons a {
        color: #e2e8f0;
        font-size: 1.5rem;
        transition: color 0.3s ease;
    }

    .social_icons a:hover {
        color: #63b3ed; /* Hover color */
    }

    /* Footer column content */
    h3 {
        font-size: 1.8rem;
        font-weight: bold;
        color: #333;
        margin-bottom: 15px;
    }

    ul {
        list-style: none;
        padding: 0;
        padding-top: 10px;

        li {
            margin: 10px 0;

            a {
                text-decoration: none;
                color: #000;
                font-size: 1.1rem;

                &:hover {
                    text-decoration: underline;
                    color: #4e4e4e;
                }
            }
        }
    }

    /* Styling for social icons with specific colors */
    .icon_fb {
        color: #0386be;
    }
    .icon_tw {
        color: #3fc6ff;
    }
    .icon_ins {
        color: #fd58a5;
    }
    .icon_ytb {
        color: #fd5858;
    }
}
